.cal {
    max-width: 600px;
}

.cal--small {
    max-width: 230px;

    position: absolute;
    z-index: 100;
    background-color: #fff;
    
    .cal__table {
        th {
            font-size: 12px;
        }
        td {
            padding: 8px 0;
            font-size: 14px;
        }
    }
}

.cal__header {
    display: flex;
    justify-content: space-between;
    
    .cal--small & {
        font-size: 12px;
    }
}

.cal__month-year {
    display: flex;
    align-items: center;
}

.cal__month, .cal__year {
    display: inline-block;
    align-items: center;
}

.cal__month {
    margin-right: 8px;
}

.cal__year {
}

.cal__nav {
    padding: 12px 16px;
    border: 0;
    background: transparent;
    user-select: none;
    cursor: pointer;
}

.cal__nav--prev {
    left: 0;
}

.cal__nav--next {
    right: 0;
}

.cal__table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    user-select: none;

    th {
        width: (100%/7);
        padding: 12px 0;
    }
}

.cal__weekdays {
    font-size: 12px;
}

.cal__weekday {
}

.cal__day {
    width: (100%/7);
    padding: 16px 0;
    position: relative;
    color: #000;
    cursor: pointer;
}

.cal__day--today {
    color: #fff;
    
    &:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #b4da55;
        border-radius: 50%;
    }
}

.cal__day--selected {
    @extend .cal__day--today;

    &:before {
        border-radius: 0;
        background: #8055DA;
    }

    // & + .cal__day--selected {
    //     background: red;
    // }
}

.cal__day--selected-first {
    &:before {
        border-radius: 100% 0 0 100%;
    }
}

.cal__day--selected-last {
    &:before {
        border-radius: 0 100% 100% 0;
    }
}

.cal__day--outside, .cal__day--disabled {
    color: #ccc;
}

.cal__day--disabled {
    background: #EFF0F1;
    cursor: default !important;
}